<!DOCTYPE html>
  <head>
    <link rel="shortcut icon" href="http://cdn-0.nflximg.com/en_US/icons/nficon2014.4.ico">
    <title>List of Movies</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet">
  </head>
  <body>
  
    <div id="hd">
      <div class="logo"><a href="http://www.netflix.com/WiHome">Netflix</a></div>
    </div>
    <div class="container-fluid content-wrap">
      {{{body}}}
    </div>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>